[Unit]
Description=BMP180 logging service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/bmp180-logger
RestartSec=30

[Install]
WantedBy=multi-user.target

